
networks:
  application-net:
    driver: bridge

services:

  user-db:
    image: postgres:latest
    container_name: user-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: user-service
    networks:
      - application-net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d user-db" ]
      interval: 10s          # Интервал между проверками (здесь каждые 10 секунд)
      timeout: 5s            # Таймаут команды проверки
      retries: 3             # Количество попыток перед тем, как контейнер будет помечен как unhealthy
      start_period: 30s      # Время ожидания перед первой проверкой (например, пока база поднимается)

